.mejs-overlay.mejs-layer.mejs-overlay-play {width: 100% !important;}
@media (prefers-color-scheme: dark) {body.mobile-theme {color: hsl(210,10%,81%);background-color: black;}
	.mobile-theme #branding {background: hsl(210,8%,25%);}
	.mobile-theme #branding #site-title a {color: hsl(210,50%,72%);}
	.mobile-theme #branding #site-description {color: #cadfed;}
	.mobile-theme #page {background: hsl(210,8%,25%);}
	.mobile-theme #secondary {background-color: hsl(210,8%,37%);}
	.mobile-theme #secondary a {color: #e4a2a2;}
	.mobile-theme .entry-title a, .mobile-theme .widget-title, .mobile-theme #subscribe-text {color: hsl(210,50%,72%);}
	.mobile-theme .sd-content li a {filter: grayscale(1);}
	.mobile-theme contact-submit button, .mobile-theme .contact-form input, .mobile-theme .contact-form textarea, .mobile-theme #searchform input, .mobile-theme #subscribe-email input, .mobile-theme #subscribe-submit input[type="submit"] {color: hsl(210,10%,81%);border: solid 2px hsl(210,7%,61%);background-color: black;}
	.mobile-theme .tippy_body {background-color: #252323 !important;}
	.mobile-theme .entry-content img, .mobile-theme .comment-content img, .mobile-theme .widget img {filter: grayscale(.3);}
	.mobile-theme .nav-previous a, .mobile-theme .nav-next a, .mobile-theme .menu-search {background: #206b8e;color: #c7c0c0;}
	.mobile-theme #access ul.nav-menu {background: #4b5559;}
	.mobile-theme #access ul.nav-menu a {color: #e4a2a2;}
	.mobile-theme .entry-title, .mobile-theme .entry-content h2, .mobile-theme .entry-content h3 {color: hsl(210,50%,72%);}}